body {
	background: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/concrete_seamless.png')
	}
h1 {
	text-align: center;
	color: black;
	font-family: sans-serif;

}
#header {
	background-color:#4c4646;
	width: auto;
	height: 30px;
	border-radius: 10px;

	
}

#header ul {
	list-style: none;
	padding-top:8px;
	min-width: 1000px;
}

#header ul a {
	text-decoration: none;
	color:green;

}

#header ul li a:hover{
	color:white;
}

#header li {
	display: inline;
	margin-right: 90px;
	margin-left: 20px;
	
}

#imageBanner img {
	height:70%;
	width: 50%;
	position: relative;
	display: block;
	margin: auto;

}

#wordChange {
	color:red;
	font-size: 1.5em;
	font-weight: bold;

}

#content {
	padding: 40px;
}

#content p{
	background-color: white;
	text-align: justify; 
	border-radius: 10px;
	padding: 15px;

}

#content p span#letterT img{
	height: 80px;
	width: 80px;
}



#imageGrid {
	background-color: white;
	height: 498px;
	width: 490px;
	margin-left:30px;
	margin:auto;

}
#imageGrid ul {
	width:570px;
	z-index: 1;
	padding-left:0;
}

#imageGrid li {
	list-style: none;
	display: inline;
	padding-right: 20px; 
	float: left;
	
}

#imageGrid li img {
	height: 150px;
	width: 150px;
	padding-bottom: 20px;

	
}

